@media (min-width: 750px) {
    .main {
	max-width: 40%;
    }
    .exp-wrapper {
        display: flex;
        flex-direction: column;
	flex-basis: 100%;
	flex-wrap: wrap;
	flex: 1;
	align-content: space-between;
    }

    .jobs {
        width: 50%;
    }
        
    .certs {
        width: 50%;
    }

    .row {
    	display: flex;
	flex-direction: row;
    }
	
    .company {
        text-align: center;
    }

    .position {
        text-align: center;
	font-style: italic;
    }

    .time {
        text-align: center;
    }

    .item {
	padding: 1em;
    }

    li {
        padding: .25em;
    }
}

@media (max-width: 749px) {

    .exp-wrapper {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-top: 2em;
        margin: 0 auto;
    }

    .item p {
        text-align: center;
    }

    .exp-wrapper h2 {
        padding-top: .5em;
        text-align: center;
        font-weight: lighter;
    }
}

.exp-wrapper h1 {
    text-align: center;
}

.certs .item {
    padding-bottom: 2em;
    text-align: center;
}

.certs a {
    color: #d0a6a6;
}
