@media (min-width: 750px) {
    .item {
        padding-top: 1em;
    }
    
    .main {
        width: 80%;
        align-items: center;
    }

    .row {
        padding-top: 2rem;
        display: flex;
    }
    
    .column {
        flex: 50%;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .item p {
        text-align: justify;
    }
}

@media (max-width: 749px) {
    .item {
        padding-top: 1em;
    }
    
    .main {
        width: 60%;
        align-items: center;
    }
}

.proj-name {
    text-align: center;
    font-weight: bold;
    padding: 1em;
}